
* {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  background: transparent;
  font-family: Cantarell;
  box-sizing: border-box;
}

#tables {
  display: flex;
  justify-content: space-between;
  width: 1024px;
  margin: auto;
  margin-top: 20px;
}

#table-1, #table-2 {
  border: 1px solid black;
}

ul {
  width: 500px;

}

li {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

#table-1 div, #table-2 div {
  padding: 3px;
}

h1 {
  padding: 5px;
  text-align: -webkit-center;
  font-size: 20px;
  border-bottom: 1px solid black;
}

.album-id {
  width: 10%;
}

.album-title {
  width: 90%;
}
